* text=auto

*.cs text diff=csharp
*.shader text
*.hlsl text
*.uxml text
*.uss text
*.asmdef text
*.json text
*.md text

*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.mat merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf

*.png binary
*.jpg binary
*.wav binary
*.fbx binary
*.glb binary
*.dll binary
